@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.img{
    background:url(Right\ Side\ \(1\).png);
    height:650px ;
    width: 540px;
    background-repeat: no-repeat;
}    
.col-6 h1{
    font-size: 30px;
    margin-left: 100px;
    margin-top: 15vh;

}  
.col-6 h2{
    font-size: 15px;
    margin-left: 80px;
}

